*{
    margin: 0;
    padding: 0;
}

/* Personalização de Variáveis*/

:root {

    /* Início do Header */

    --header-background: linear-gradient(aqua, blue, darkblue, black);

    --nav-a: #FFFFFF;
    --nav-a-hover: #FFE600;
    --nav-a-active: #FF8C00;
    --nav-a-outline: 5px solid rgba(241, 241, 241, 0.5);
    
    --div-search-background: #E0EEEE;
    --div-search-border: solid 2px #5F9EA0;
    --btn-seach: #5F9EA0;
    --btn-search-hover: rgba(240, 217, 217, 0.15);

    /* Fim do Header */
    /* Início do Main */

    --main-background: linear-gradient(black, darkblue, black);
    --title-color: #9effe0;
    --title-font-size: 40px;
    --title-text-decoration: underline rgb(0, 60, 60);
    --title-font-weight: bold;

    --history-color: #FFFFFF;
    --history-text-shadow: 2px 2px rgba(0, 0, 0, 1);
    --history-font-size: 20px;

    /* Início do footer */
    --footer-background: black;
    --footer-color: #FFE600;

}

/* Header */

header {
    display: grid;
    height: 80vh;
    background-image: url(/img/aquario.jpg);
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* .icon-peixe {
    position: relative;
    animation: mymove 10s infinite;
}

@keyframes mymove {
    from {left: 100%;}
    to {left: 0.1em;}
}

.icon-peixe {
    width: 80px;
} */

/* Navigation */

.div-nav {
    text-align: center;
    margin: 2.7em 25em;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list-link a {
    font-size: 1.3em;
    text-transform: uppercase;
    color: var(--nav-a);
    text-decoration: none;
}

.list-link a:hover {
    color: var(--nav-a-hover);
    cursor: pointer;
    outline: var(--nav-a-outline);
    border-radius: 10px;
    transition: 70ms;
}

.list-link a:active {
    color: var(--nav-a-active);
    transition: 100ms;
}

/* Box Search of Header */

.div-search {
    background-color: var(--div-search-background);
    border: var(--div-search-border);
    border-radius: 10px;
    height: 32px;
    position: absolute;
    top: 35px;
    right: 15px;
    padding: 1px;
}

.txt-search {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
}

.btn-search {
    border: none;
    float: left;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: var(--btn-seach);
}

.btn-search:hover {
    cursor: pointer;
    background-color: var(--btn-search-hover);
    transition: 400ms;
}

.div-search img {
    float: left;
    height: 30px;
}

/*Main*/

main {
    background: var(--main-background);
}

.div-info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-content {
    padding: 3em 0;
}

.div-info p strong {
    font-weight: bold;
}

.div-info p em {
    font-style: italic;
}

.info-main {
    margin: 0 10em;
    align-items: center;
}

/* Title */

.content-title {
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    text-decoration: var(--title-text-decoration);
    text-align: center;
}

/* Animals History */

.content-history {
    color: var(--history-color);
    text-shadow: var(--history-text-shadow);
    font-size: var(--history-font-size);
    margin: 2em;
}

/* Icon of Main */

.tubarao-baleia {
    height: 250px;
}

.peixe-lua {
    height: 250px;
}

.peixe-palhaco {
    width: 390px;
}

.tartaruga-marinha {
    height: 255px;
}

/*footer*/

footer {
    background: var(--footer-background); /*url("../img/footer-edited.jpg");*/
    padding: 40px;
}

footer p {
    color: var(--footer-color);
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 50px;
}

/* Responsivo para Mobile de até 320px */

@media (max-width: 320px) {

    body {
        height: 100%;
        box-sizing: border-box;
    }

    /* Início da Header */

    header {
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .icon-peixe {
        height: 120px ;
        padding: 4px;
        animation: mymove 4s infinite;
    }

    @keyframes mymove {
        from {left: 80%;}
        to {left: -235px;}
    } */

    .nav-list {
        display: flex;
        margin: 3em 10em;
    }

    .list-link {
        margin: 1em;
    }

    .list-link a {
        font-size: 10px;
    }

    .div-search {
        background-color: var(--div-search-background);
        border: var(--div-search-border);
        border-radius: 10px;
        display: flex;
        margin: 40px -15px 0 0;
        height: 15px;
    }

    .div-search img {
        width: 15px;
        height: 15px;
        text-align: center;
    }

    .txt-search {
        background-color: transparent;
        font-size: 0.6em;
        height: 15px;
        width: 80px;
        text-align: center;
    }

    .btn-search {
        background: var(--btn-seach);
        width: auto;
        height: 16px;
        border-radius: 0 7px 7px 0;
        font-weight: bold;
        
    }

    /* .aquario {
        height: auto;
        padding: 0 0 15% 0;
    } */

    /* Início da Main */

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tubarao-baleia, .peixe-palhaco, .peixe-lua, .tartaruga-marinha {
        height: auto;
    }

    footer {
        padding: 0;
    }

    footer p {
        padding: 35px;
    }

}

/* Responsivo Notebook */

@media screen and (max-width: 768px) {
    /* Header */

    .icon-peixe {
        width: auto;
        margin: 0px 0px 20px 49px
    }

    @keyframes mymove {
        from {left: 50px;}
        to {left: -70px;}
    }

    nav {
        position: static;
        width: auto;
    }

    nav li {
        margin: 0 24px;
    }

    nav a {
        font-size: 16px;
    }

    .aquario {
        width: 100%;
        margin: 5px 0 0 0;
    }

    /*Conteúdo*/

    main {
        padding: auto;
    }

    .div-info {
        width: 100%;
    }

    .titulo, .titulo-2 {
        text-align: center;
        margin: 5px;
    }

    .tubarao-baleia, .peixe-palhaco, .peixe-lua, .tartaruga-marinha {
        width: 100%;
        float: center;
    }

    /* Imagem */
    
    .tubarao-baleia, .peixe-lua, .peixe-palhaco, .tartaruga-marinha {
        margin: auto;
    }

    .historia, .historia-2 {
        height: 100%;
        text-align: center;
        padding: 10px 0px 35px 0px;
    }
    
}