*{
    margin: 0;
    padding: 0;
    border: border-box;
}

/* Cabeçalho */

header {
    background: linear-gradient(aqua, blue, darkblue, black);
    max-width: 100%;
}

.icon {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    animation: mymove 6s infinite;
}

@keyframes mymove {
    from {left: 160px;}
    to {left: -80px;}
}

.icon img {
    width: 80px;
}

nav {
    position: absolute;
    top: 45px;
    right: 403px;
}

nav li {
    display: inline;
    margin: 0 0 0 60px;
}

nav a {
    font-size: 1.3em;
    text-transform: uppercase;
    color: rgb(255 255 255);
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 230, 0);
    cursor: pointer;
    outline: 5px solid rgba(241, 241, 241, 0.1);
    border-radius: 10px;
    transition: 70ms;
}

nav a:active {
    color: darkorange;
    transition: 100ms;
}

.div-search {
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    height: 32px;
    position: absolute;
    top: 35px;
    right: 15px;
    padding: 1px;
}

.txt-search {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
}

.btn-search {
    border: none;
    float: left;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #5F9EA0;
}

.btn-search:hover {
    cursor: pointer;
    background-color: rgba(240, 217, 217, 0.15);
    transition: 400ms;
}

.div-search img {
    float: left;
    height: 30px;
}

.aquario {
    width: 100%;
}


/*Conteúdo*/

main {
    background: linear-gradient(black, darkblue, black);
}

.info-1 {
    padding: 2em 0;
    width: 940px;
    height: 282px;   
}

.info-1 p strong {
    font-weight: bold;
}

.info-1 p em {
    font-style: italic;
}

.info-2 {
    padding: 2em 0;
    width: 1300px;
    height: 280px;   
}

.info-2 p strong {
    font-weight: bold;
}

.info-2 p em {
    font-style: italic;
}

.titulo {
    color: #9effe0;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline rgb(0, 60, 60);
    padding: 0 0 13px 15px;
    clear: left;
}

.titulo-2 {
    color: #9effe0;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline rgb(0, 60, 60);
    text-align: right;
    padding: 0 0 13px 15px;
    clear: right;
}

.titulo-3 {
    color: #9effe0;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline rgb(0, 60, 60);
    padding: 0 0 13px 15px;
    clear: left;
}

.titulo-4 {
    color: #9effe0;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline rgb(0, 60, 60);
    text-align: right;
    padding: 0 0 13px 15px;
    clear: right;
}

.historia {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: left;
}

.historia-2 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
    padding: 0 100px;
    text-align: right;
}

.historia-3 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: left;
}

.historia-4 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
    padding: 0 100px;
    text-align: right;
}

.tubarao-baleia {
    height: 250px;
    float: left;
    margin: 0 8px 0 55px;
}

.peixe-lua {
    height: 250px;
    float: right;
    margin: 0 47px 0 8px;
}

.peixe-palhaco {
    width: 390px;
    float: left;
    margin: 0 8px 0 55px;
}

.tartaruga-marinha {
    height: 255px;
    float: right;
    margin: 0 47px 0 8px;
}

/*footer*/

footer {
    background: black; /*url("../img/footer-edited.jpg");*/
    padding: 40px;
}

footer p {
    color: blue;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding: 110px;
}

/* Responsivo Notebook */

@media screen and (max-width: 480px) {
    /* Header */

    header, .div-search, .txt-search, .btn-search, .footer-nav {
        width: auto;
    }

    .icon {
        width: auto;
        margin: 0px 0px 20px 49px
    }

    @keyframes mymove {
        from {left: 50px;}
        to {left: -70px;}
    }

    nav {
        position: static;
        width: 948px;
    }

    nav li {
        margin: 0 24px;
    }

    nav a {
        font-size: 16px;
    }

    .aquario {
        width: 100%;
        margin: 5px 0 0 0;
    }

    /*Conteúdo*/

    main {
        padding: 0 0 1156px 0;
    }

    .info-1, .info-2 {
        width: 100%;
    }

    .titulo, .titulo-2, .titulo-3, .titulo-4 {
        text-align: center;
    }

    .titulo {
        margin: 0 0 8px 0;
    }

    .titulo-2 {
        margin: 268px 0px -240px 0px;
    }

    .titulo-3 {
        margin: 500px 0px -260px 0px;
    }

    .titulo-4 {
        margin: 755px 0px -260px 0px;
    }

    .tubarao-baleia, .peixe-palhaco, .peixe-lua, .tartaruga-marinha {
        width: 100%;
        float: center;
    }

    /* Imagem */
    
    .tubarao-baleia {
        margin: 0 2px 8px 0px;
    }

    .peixe-lua {
        margin: 240px 0px 8px 0px
    }

    .peixe-palhaco {
        margin: 265px 0 8px 0;
    }

    .tartaruga-marinha {
        margin: 265px 0 8px 0;
    }

    .historia {
        height: 100%;
        text-align: center;
    }

    .historia-2 {
        height: 100%;
        text-align: center;
        padding: 8px 0px 0px 0px;
    }
    
    .historia-3 {
        height: 100%;
        text-align: center;
    } 
    
    .historia-4 {
        height: 100%;
        text-align: center;
        padding: 8px 0px 0px 0px;
    }

}