.footer {
    background: var(--footer-background);
    /*url("../img/footer-edited.jpg");*/
    padding: 40px;
}

.footer-title {
    color: var(--footer-color);
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 50px;
}

@media (max-width: 1024px) {
    .footer {
        padding: 0;
    }

    .footer-title {
        padding: 35px;
    }

}