header {
    display: flex;
    align-content: flex-start;
    height: 99vh;
    background-image: url(../img/aquario.jpg);
    background-size: cover;
}

/* Navigation */

.navigation-container {
    margin: 9em 22em;

}

.navigation-list {
    display: flex;
    justify-content: center;
}

.list-item .nav-list-link {
    display: flex;
    margin-left: 1.2em;
    color: #FFFFFF;
    text-shadow: 3px 2px 4px #2b008f;
    font-size: 3em;
    text-transform: uppercase;
    text-decoration: none;
}

.list-item .nav-list-link:hover {
    color: var(--nav-a-hover);
    cursor: pointer;
    border-radius: 10px;
    transition: 70ms;
}

/* Box Search of Header */

/* 1° Box */
.div-search {
    background-color: var(--div-search-background);
    border: var(--div-search-border);
    border-radius: 30px;
    width: 40%;
    height: 58px;
    position: absolute;
    top: 300px;
    left: 500px;
}

/* 2° Box */
.txt-search {
    background: transparent;
    color: #000;
    border-radius: 30px;
    border: none;
    width: 100%;
    padding: 1.6em;
    text-align: center;
}

.txt-search::placeholder {
    font-size: 2.5em;
    text-align: center;
    background: url(../img/magnifying-glass-solid.svg) no-repeat;
}

/* 3° Box */
.btn-search {
    background: var(--btn-seach);
    color: var(--btn-search-color);
    border-radius: 30px;
    font-size: 2.2em;
    font-weight: bold;
    width: 176px;
    padding: 0.3em;
    position: absolute;
    top: -5px;
    right: -4px;
}

.btn-search:hover {
    cursor: pointer;
    transition: 400ms;
}

@media screen and (max-width: 1024px) {
    header {
        height: 50vh;
    }

    .navigation-container {
        margin: 9em 13em;
    }

    .list-item .nav-list-link {
        margin-left: 1em;
        font-size: 1.7em;
    }

    .div-search {
        width: 60%;
        height: 43px;
        position: absolute;
        top: 204px;
        left: 185px;
    }

    .txt-search {
        width: 90%;
        height: 35px;
        padding: 1.6em;
    }

    .txt-search::placeholder {
        font-size: 1.2em;
    }

    .btn-search {
        font-size: 1.2em;
        font-weight: bold;
        width: 115px;
        padding: 0.5em;
        position: absolute;
        top: -1px;
        right: -1px;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 55vh;
    }

    .navigation-container {
        margin: 8em 1.3em;
    }

    .list-item .nav-list-link {
        margin-left: 2em;
        font-size: 1.7em;
    }

    .div-search {
        width: 75%;
        height: 40px;
        position: absolute;
        top: 215px;
        left: 84px;
    }

    .txt-search {
        width: 90%;
        height: 40px;
        padding: 1.6em;
    }

    .txt-search::placeholder {
        font-size: 1.2em;
    }

    .btn-search {
        font-size: 1.2em;
        font-weight: bold;
        width: 115px;
        padding: 0.5em;
        position: absolute;
        top: -1px;
        right: -1px;
    }
}

@media screen and (max-width: 428px) {
    header {
        height: 45vh;
    }

    .navigation-container {
        margin: 4em 0em;
    }

    .list-item .nav-list-link {
        margin-left: 1em;
        font-size: 1.2em;
    }

    .div-search {
        width: 50%;
        height: 25px;
        position: absolute;
        top: 95px;
        left: 177px;
    }

    .txt-search {
        width: 80%;
        height: 25px;
        padding: 0.2em;
    }

    .txt-search::placeholder {
        font-size: 0.8em;
    }

    .btn-search {
        font-size: 0.5em;
        font-weight: bold;
        width: 68px;
        padding: 0.9em 0em;
        position: absolute;
        top: -1px;
        right: -1px;
    }
}